body{
    background-color: grey;
}
h1{
    
    text-align: center;
}
div.Portfolio{
    width:100%;
    overflow: auto;
    
}
div.Portfolio div{
    width: 33%;
    float: left;
    align-text: center;
}
